{% extends 'template.html' %}

{% block titulo %}Cadastro do Projeto{% endblock titulo %}

{% block conteudo %}
<form class="form-horizontal" action="/persons/save/" method="POST" role="form">
    {% csrf_token %}

    <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Erro!</strong> Verifique os erros antes de salvar!
    <br />
    {{ form.errors }}
    </div>

    <input name="{{ form.username.name }}"  value="{{ form.first_name.value }}franca" type="hidden" >
    <input name="id"  value="{{ form.initial.id }}" type="hidden" >

    <div class="form-group">
        <label for="{{ form.area.id_for_label }}" class="col-sm-2 control-label">Empresa onde Trabalha</label>
        <div class="col-sm-10">
            <input id="{{ form.area.id_for_label }}" name="{{ form.area.name }}"  value="{{ form.area.value }}"  placeholder="Médico ou ..." type="text" class="form-control">
        </div>
    </div>



    <hr>

    <div align="center">
        <button type="submit" class="btn btn-success">Salvar Projeto</button>
        {% if pessoa.pk > 0 %}
        <a class="btn btn-danger" href="/pessoas/excluir/{{ pessoa.pk }}/">Excluir</a>
        {% endif %}
    </div>
</form>
{% endblock conteudo %}
