{% extends 'template.html' %}

{% block titulo %}Projetos Cadastrados{% endblock titulo %}

{% block conteudo %}
<div align="center">
  <form role="form" method="POST" action="/projects/search/">{% csrf_token %}
    <div class="form-group">
      <div class="row">
        <div class="col-md-10">
          <input type="text" class="form-control" id="textoBusca" name="textoBusca" value="{{ textoBusca }}" placeholder="Digite um texto para a busca ou TUDO para listar todos os registros...">
        </div>
        <div class="col-md-2" align="center">
          <button type="submit" class="btn btn-primary">Pesquisar <span class="glyphicon glyphicon-search"></span></button>
        </div>
      </div>
    </div>
  </form>

</div>
<hr>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Projeto</th>
        <th>Aluno</th>
        <th>Área</th>
        <th>Universidade</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
      <tr>
        <td><a href="/projects/view/{{ project.pk }}/">{{ project.tema }}</a> <span class="badge">+22</span> <span class="badge">-2</span></td>
        <td>{{ project.liderNome }}</td>
        <td>{{ project.area }}</td>
        <td>{{ project.universidade }}</td>  
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div><!-- FIM TABELA -->

{% endblock conteudo %}
