{% extends 'template.html' %}

{% block titulo %}Home{% endblock titulo %}

{% block conteudo %}
<font>
	<h1>Formulário de inscrição de Projetos</h1>
</font>

<form class="form-horizontal" action="." method="POST" role="form">
		{% csrf_token %}
	
		<div class="col-sm-10">            
			{{ form.tema }}
			{{ form.tema.errors }}
        </div>
	
		<div class="col-sm-10">
           {{ form.projeto }}
			{{ form.projeto.errors }}
        </div>

		<div class="col-sm-10">
           {{ form.nomeOrientador }}
		   {{ form.nomeOrientador.errors }}
        </div>
			
		<div class="col-sm-10">
            {{ form.nomeIntegrante }}
			{{ form.nomeIntegrante.errors }}
        </div>
		
		<div class="col-sm-10">
            {{ form.redeSocial }}
			{{ form.redeSocial.errors }}
        </div>
		
		<div class="col-sm-10">
            {{ form.modelagem }}
			{{ form.modelagem.errors }}
        </div>
		
		<div class="col-sm-10">
        	{{ form.nomeLider }}
			{{ form.nomeLider.errors }}
        </div>
		
		<div class="col-sm-10">
            {{ form.emailLider }}
			{{ form.emailLider.errors }}
        </div>
		
		<div class="col-sm-10">
           	{{ form.telefoneLider }}
			{{ form.telefoneLider.errors }}
        </div>
		
		<div class="col-sm-10">
            {{ form.cpfLider }}
			{{ form.cpfLider.errors }}
        </div>
		
	
	 <div align="center">
        <button type="submit" class="btn btn-success">Salvar Registro</button>
    </div>
</form>
{%endblock conteudo %}
