{% extends 'template.html' %}

{% block titulo %}Confirmação de E-mail!{% endblock titulo %}

{% block conteudo %}
	<div class="col-sm-6" align="center">
    	<img class="img-responsive" src="{{ STATIC_URL }}/logo/logo_G.png">
    </div>
    
    <div class="col-sm-6" align="center">
    	<h2>Valide seu E-mail!</h2>
        Acesse o seu e-mail e confirme o cadastro clicando no link que foi enviado.<br />
        Somente os projetos com e-mail válido são aceitos.
    </div>
		
{%endblock conteudo %}
