{% extends 'template.html' %}

{% block titulo %}Home{% endblock titulo %}

{% block conteudo %}
	<div class="col-sm-6" align="center">
    	<img class="img-responsive" src="{{ STATIC_URL }}/logo/logo_G.png">
            </div>
            <div class="col-sm-6" align="center">
            	<h2>Pólo Francano de Tecnologia<br />Cadastro de Projetos</h2> 
            	<p align="justify" >Participe da seleção dos melhores projetos tecnológicos de Franca & Região e concorra à prêmios! O processo é eliminatório e é dividido em 3 (três) etapas, sendo as duas primeiras com foco na parte teórica do projeto e a terceira uma apresentação da equipe em um grande evento realizado no no Salão Centro Educacional Luciano Botto - ACIF.
            	<br />
            	<br />
            	Para participar, basta preencher o formulário e ficar atento aos <a href="/projects/prazos/">prazos</a>! Todo o processo é gratuito! Os melhores projetos, além de receber prêmios, vão concorrer à vagas na Encubadora Tecnológica de Projetos em Franca que será criada em 2015! Não perca tempo!
            	<br />
            	<br />
            	Os membros do Pólo Francano de Tecnologia vão selecionar, por votação, e em caráter eliminatório, os projetos mais inovadores e com potencial mercadológico, sendo assim, todo o processo é claro e transparente. A lista dos aprovados em cada etapa será divulgada neste site, assim como também será enviado um e-mail à você do andamento do processo. Em caso de dúvidas, envie uma mensagem para o perfil do <a href="https://www.facebook.com/PoloFrancanoTecnologia" target="_blank">Pólo Francano de Tecnologia no Facebook</a>. Aproveite e curta a nossa página para ficar atento às novidades!
            	</p> 
            </div>
{%endblock conteudo %}