{% extends 'template.html' %}

{% block titulo %}Home{% endblock titulo %}

{% block conteudo %}
	<div class="col-sm-6" align="center">
    	<img class="img-responsive" src="{{ STATIC_URL }}/logo/logo_G.png">
            </div>
            <div class="col-sm-6" align="center">
            	<h2>Pólo Francano de Tecnologia - Cadastro de Projetos</h2> 
            	Um projeto... (Descrever) <br /><a href="https://github.com/edsonlb/PoloVota" target="_blank">Desenvolvimento</a>.
            </div>
{%endblock conteudo %}