{% extends 'template.html' %}

{% block titulo %}Home{% endblock titulo %}

{% block conteudo %}
	<div class="col-sm-6" align="center">
    	<img class="img-responsive" src="{{ STATIC_URL }}/logo/logo_G.png">
            </div>
            <div class="col-sm-6" align="center">
            	<h2>Pólo Francano de Tecnologia<br />Cadastro de Projetos</h2> 
            	Participe da seleção dos melhores projetos de Franca & Região e concorra à prêmios! São 3 (três) etapas de seleção, 
            </div>
{%endblock conteudo %}