{% extends 'template.html' %}

{% block titulo %}Registro Salvo!{% endblock titulo %}

{% block conteudo %}
	<div class="col-sm-6" align="center">
    	<img class="img-responsive" src="{{ STATIC_URL }}/logo/logo_G.png">
    </div>
    
    <div class="col-sm-6" align="center">
    	<h2>Registro Salvo!</h2>
        Aguarde os próximos contatos do sistema por e-mail.<br />
        Enquanto isso, você pode acompanhar as novidades e visitar o nosso <a href="http://polofrancanoti.com.br">Website</a> ou o nosso <a href="https://www.facebook.com/PoloFrancanoTecnologia">Facebook</a>!
    </div>
		
{%endblock conteudo %}
